/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */



/* ==========================================================================
   Adventures
   0: Start Screen => [1]
   1: Choose Your Path Wisely => [2]
   2: Your journey in search => [3]
   3: As the ship rocks => [6,4]
   4: You can feel the => [6]
   5: Inside the room => [9]
   6: Walk the plank => [5,9]
   7: You can smell => [5]
   8: The scattered loot => [7]
   9: The island! A => [10]
   10: After rowing across => [11,15]
   11: Yikes, that was close => [10,12]
   12: As you walk => [13]
   13: You've navigated => [10,14]
   14: Your heart is pounding => [10]
   15: The sound of birds => [17,16]
   16: More pirates => [17]
   17: This jungle seems => [19,18]
   18: There's the cave => [20,21]
   19: You feel lost => [21,20]
   20: A key! => [19,18]
   21: Alas, once again => [22]
   22: I've found it => [19,23]
   23: Congratulations => [24]
   24: Click to see => [25]
   25: Do you have an idea => [Email,26]
   26: The End
   ========================================================================== */


/* Begin The Adventure */
.flowplayer[data-current="0"] .fp-playlist > a[data-from="0"][data-to="1"],
.flowplayer[data-current="1"] .fp-playlist > a[data-from="1"][data-to="2"],
.flowplayer[data-current="2"] .fp-playlist > a[data-from="2"][data-to="3"],
.flowplayer[data-current="3"] .fp-playlist > a[data-from="3"][data-to="6"],
.flowplayer[data-current="3"] .fp-playlist > a[data-from="3"][data-to="4"],
.flowplayer[data-current="4"] .fp-playlist > a[data-from="4"][data-to="6"],
.flowplayer[data-current="5"] .fp-playlist > a[data-from="5"][data-to="9"],
.flowplayer[data-current="6"] .fp-playlist > a[data-from="6"][data-to="5"],
.flowplayer[data-current="6"] .fp-playlist > a[data-from="6"][data-to="9"],
.flowplayer[data-current="7"] .fp-playlist > a[data-from="7"][data-to="5"],
.flowplayer[data-current="8"] .fp-playlist > a[data-from="8"][data-to="7"],
.flowplayer[data-current="9"] .fp-playlist > a[data-from="9"][data-to="10"],
.flowplayer[data-current="10"] .fp-playlist > a[data-from="10"][data-to="11"],
.flowplayer[data-current="10"] .fp-playlist > a[data-from="10"][data-to="15"],
.flowplayer[data-current="11"] .fp-playlist > a[data-from="11"][data-to="10"],
.flowplayer[data-current="11"] .fp-playlist > a[data-from="11"][data-to="12"],
.flowplayer[data-current="12"] .fp-playlist > a[data-from="12"][data-to="13"],
.flowplayer[data-current="13"] .fp-playlist > a[data-from="13"][data-to="10"],
.flowplayer[data-current="13"] .fp-playlist > a[data-from="13"][data-to="14"],
.flowplayer[data-current="14"] .fp-playlist > a[data-from="14"][data-to="10"],
.flowplayer[data-current="15"] .fp-playlist > a[data-from="15"][data-to="17"],
.flowplayer[data-current="15"] .fp-playlist > a[data-from="15"][data-to="16"],
.flowplayer[data-current="16"] .fp-playlist > a[data-from="16"][data-to="17"],
.flowplayer[data-current="17"] .fp-playlist > a[data-from="17"][data-to="19"],
.flowplayer[data-current="17"] .fp-playlist > a[data-from="17"][data-to="18"],
.flowplayer[data-current="18"] .fp-playlist > a[data-from="18"][data-to="20"],
.flowplayer[data-current="18"] .fp-playlist > a[data-from="18"][data-to="21"],
.flowplayer[data-current="19"] .fp-playlist > a[data-from="19"][data-to="21"],
.flowplayer[data-current="19"] .fp-playlist > a[data-from="19"][data-to="20"],
.flowplayer[data-current="20"] .fp-playlist > a[data-from="20"][data-to="19"],
.flowplayer[data-current="20"] .fp-playlist > a[data-from="20"][data-to="18"],
.flowplayer[data-current="21"] .fp-playlist > a[data-from="21"][data-to="22"],
.flowplayer[data-current="22"] .fp-playlist > a[data-from="22"][data-to="19"],
.flowplayer[data-current="22"] .fp-playlist > a[data-from="22"][data-to="23"]/*,
.flowplayer[data-current="23"] .fp-playlist > a[data-from="23"][data-to="24"],
.flowplayer[data-current="24"] .fp-playlist > a[data-from="24"][data-to="25"],
.flowplayer[data-current="25"] .fp-playlist > a[data-from="25"][data-to="26"]*/ {
    display: inline-block;
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#container {
    width: 70%;
    margin: auto;
}


.flowplayer {
    background-color: rgba(0, 0, 0, 0.66);
    background-image: url("/videos/demo1/splash.png");
}
.flowplayer .fp-playlist {
    display: none;
    position: absolute;
    padding: 10px;
    z-index: 100;
    top: 50%;
    left: 50%;
    width: 350px;
    height: auto;
    margin-top: -88px;
    margin-left: -175px;
    background-color: #B5B9A5;
    opacity: .8;
    padding: 20px;
    text-align: center;
}

.flowplayer.ad-active .fp-playlist {
    display: block;
}

.flowplayer .fp-playlist > a {
    padding: 10px;
    margin: 10px auto;
    color: #fff;
    display: none;
    text-align: center;
    margin: auto;
    width: 90%;
    font-size: 0.8em;

    background-color: #434633;
    text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
    color: #E8CD7A;
}

.flowplayer .fp-playlist > a:hover {
    background-color: #6D6442;
}

.flowplayer .fp-playlist p {
    color: #100D08;
    margin-top: 20px;
    text-align: center;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
